//-------------------------------------------------------
//                  PATRON DE COLORES
//-------------------------------------------------------
$primary: rgba(43, 44, 46, 0.952);
$secondary:  rgba(124, 233, 169, 0.76);
$third: rgb(255, 254, 254);
$foot: #383d42;

header div{
    background: $third;
}

header nav{
    background: $secondary;
}

//---------------------------------------------------------
//                  PIE DE PAGINA
//---------------------------------------------------------
.footer {
    background: $foot;
    font-size: 1.1rem;
    color: $third;
}

.parrafo0{
    font-size: .72rem;
}

.informacion{
    padding: .4rem;
    transition: all .5s;
    font-size: .9rem;
    display: grid;
    grid-template-columns: 1fr 10fr;
    cursor: pointer;
}

.informacion:hover {
    border-radius: 15px;
    border: 1px solid #fff;
}

#iconito{
    align-self: center;
    text-align: center;
}

@media screen and (min-width: 765px){
    .informacion{
        margin-top: .5rem;
    }
}
//------------------------------------------------------
//                  CAMBIOS GENERALES
//------------------------------------------------------
p{
    margin-top: 0;
    margin-bottom: 0;
}

//--------------------------------------------------------
//                      IMAGENES
//--------------------------------------------------------
#cabimg1 img{
    width: 50px;
    height: auto;
}

#cabimg2{
    display: flex;
    justify-content: center;
}

#cabimg2 img{
    width: 8rem;
    height: auto;
}

#cabimg3 img{
    width: 100px;
    height: auto;
}

//-----------------------------------------------------------
//                          MAPA
//-----------------------------------------------------------
@media screen and (min-width: 0px){
    #mapa iframe{
        width: 290px;
        height: 150px;
        margin-top: .3rem;
    }
}

@media screen and (min-width: 992px){
    #mapa iframe{
        width: 225px;
        height: 200px;
    }
}

@media screen and (min-width: 1200px){
    #mapa iframe{
        width: 260px;
        height: 200px;
    }
}

